/* GENERAL  */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

.background {
    background-color: #7D889E;
    /* RESPONSIVE DESIGN */
    min-height: 100vh; /* MIN HEIGHT = 100% OFTHE VIEWPORT HIGHT */
    display: flex;
    justify-content: center; /*CENTER HORIZONTALLY */
    align-items: center; /* CENTER VERTICALLY */
}

/* CONTENT */
.white_block {
    background-color: white;
    height: 497px;
    width: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
}

.white_block img {
    width: 280px;
    border-radius: 10px;
    
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

.copy h2 {
    color: #1F314F;
    font-weight: 700;
    height: 56px;
    width: 286px;
    text-align: center;
    margin-bottom: 15px;
}

.copy p {
    color: #7D889E;
    font-weight: 400;
    text-align: center;
    width: 280px;
    margin-bottom: 15px;
}

/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: #7d889e;
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
    }